<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fpt.com.virtualoutfitroom">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <!-- This tag indicates that this application requires ARCore. This results in the application
        only being visible in the Google Play Store on devices that support ARCore. -->
    <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>
    <application
        android:name=".activities.VOFRApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data android:name="com.google.ar.core" android:value="required" />
        <activity android:name=".activities.ProductCategoryActivity">
        </activity>
        <activity android:name=".activities.EditAccountActivity"
            android:windowSoftInputMode="stateHidden"
            ></activity>
        <activity android:name=".activities.ShopCartActivity" />
        <activity android:name=".activities.PaymentActivity" />
        <activity android:name=".activities.DetailProductActivity" />
        <activity
            android:name=".activities.HomeActivity"
            android:theme="@style/MyMaterial"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".activities.ForgetActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.IntroActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.AugmentedFacesActivity"></activity>
    </application>

</manifest>